
<nav id="menu" class="navbar navbar-dark navbar-expand-md" style="background-color: #203F99;">
  <a class="navbar-brand" href="#" style="margin: 0; padding: 0;  ">
    <img src="/assets/img/AZS_logo.png" style="height: 100px" title="AZS-Logo" id="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item  dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ONas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> O Nas</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sekcja</a>
          <a class="dropdown-item" href="#">Instruktorzy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Regulamin</a>
        </div>
      </li>
      <li class="nav-item  dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Oferta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oferta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Lekcje Grupowe</a>
          <a class="dropdown-item" href="#">Lekcje indywidualne</a>
          <a class="dropdown-item" href="#">Animacje i Pokazy</a>
          <a class="dropdown-item" href="#">Współpraca </a>
          <a class="dropdown-item" href="#">Zrealizowane projekty</a>
        </div>
      </li>
      <li class="nav-item  dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Sprzet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sprzęt
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Łyżwy</a>
          <a class="dropdown-item" href="#">Rolki </a>
          <a class="dropdown-item" href="#">Sala</a>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Galeria</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Media o nas</a>
      </li>
      <li>
        <a class="nav-link " href="#">Przydatne linki</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">FAQ</a>
      </li>
    </ul>
  </div>
</nav>
<p style="padding-top: 100px"> </p>
